body {
    background : #FFE8DE;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#6A8DCC;
}

.assignment img {
    width:200px;
    border:2px solid #CC786A;
    margin-right: 20px;
}

h1 {
    color : #020659;
    text-align: center;
}

a {
    text-decoration:none;
    color:#020659;
}