body {
    background : #FFE8DE;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:30%;
    padding:10px;
    margin:10px;
    background:#6A8DCC;
}

.assignment img {
    width:200px;
    border:2px solid #CC786A;
    margin-right: 20px;
    display:block;
    margin:auto;
}

h1 {
    color : #020659;
    text-align: center;
}

a {
    text-decoration:none;
    color:#020659;
}